# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
#node_modules/ #node_modules/react-native-health/index.js 를 직접 수정했기 때문에 git 에 업로드하도록 주석처리

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
ios/
android/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
